body {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Brush Script MT", cursive;
    font-weight: normal;
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

p {
    /* font-weight: bold; */
}